<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" ng-cloak>
      <a class="navbar-brand" ui-sref="list()" ui-sref-opts="{reload: true}">Notes Manager</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#topNavbar" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a ui-sref-active="active" class="nav-link" ui-sref="list()" ui-sref-opts="{reload: true}">list</a>
        </li>
        <li class="nav-item">
          <a ui-sref-active="active" class="nav-link" ui-sref="new()">new note</a>
        </li>
      </ul>

      <ul ng-if="$ctrl.note.success" class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            actions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a ng-show="$ctrl.note.edit" ng-click="$ctrl.cancel($ctrl.note.response.id)" href="" class="dropdown-item" class1="bg-info">cancel</a>
              <a ng-show="!$ctrl.note.response.id" ng-click="$ctrl.cancel()" href="" class="dropdown-item" class1="bg-info">cancel</a>
              <a ng-show="$ctrl.note.edit" ng-click="$ctrl.saveNote()" href="" class="dropdown-item" class1="bg-success">save</a>
              <a ng-show="$ctrl.note.response.id && !$ctrl.note.edit" ui-sref="note({uuid: $ctrl.note.response.id})" class="dropdown-item" class1="bg-success">edit</a>
              <a ng-show="!$ctrl.note.response.id" ng-click="$ctrl.createNote()" href="" class="dropdown-item" class1="bg-success">create</a>
              <a ng-show="$ctrl.note.response.id" ng-click="$ctrl.deleteNote()" href="" class="dropdown-item" class1="bg-danger">delete</a>
          </div>
        </li>
      </ul>
    </div>
</nav>
