<div class="row">
  <div class="col-sm-12">

    <div class="alert alert-danger" role="alert" ng-if="!$ctrl.note.success">
      <p>{{$ctrl.note.error}}</p>
    </div>

    <div class="row" ng-if="$ctrl.note.success">
      <div class="col-sm" ng-cloak>
        <form class="form-horizontal" ng-if="$ctrl.note.success">
          <div class="form-group">
            <input type="text" ng-model="$ctrl.note.response.title" class="form-control" placeholder="Enter note title here...">
          </div>
        </form>
      </div>

      <div class="col-sm-12 col-md-3" ng-cloak>
        <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group">
            <a ng-if="$ctrl.note.response.id" ui-sref-active="active" class="btn btn-secondary" ui-sref="list_note({uuid: $ctrl.note.response.id})" ui-sref-opts="{reload: true}">cancel</a>
            <a ng-if="!$ctrl.note.response.id" ui-sref-active="active" class="btn btn-secondary" ui-sref="list()" ui-sref-opts="{reload: true}">cancel</a>
            <button ng-if="$ctrl.note.response.id" type="button" class="btn btn-primary" ng-click="$ctrl.saveNote()"><i class="fa fa-floppy-o"></i></button>
            <button ng-if="!$ctrl.note.response.id" type="button" class="btn btn-primary" ng-click="$ctrl.createNote()"><i class="fa fa-file-text"></i></button>
          </div>
          <div class="btn-group mr-2" role="group">
            <button type="button" ng-click="$ctrl.deleteNote()" class="btn btn-danger"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="$ctrl.note.success">
      <div class="col-sm-12" ng-cloak>

        <form class="form-horizontal" ng-if="$ctrl.note.success">
          <div class="form-group">
            <chips ng-model="$ctrl.note.response.tags">
                <chip-tmpl>
                  <span class="badge badge-info">{{chip}}<i class="fa fa-times-circle chipRemove" remove-chip></i></span>
                </chip-tmpl>
                <input chip-control placeholder="Tags..."></input>
            </chips>
          </div>
        </form>
      </div>
    </div>

    <div class="row" ng-if="$ctrl.note.success">
      <div class="col-sm-6" ng-cloak>
        <code-editor syntax="markdown" ng-model="$ctrl.note.response.content" ng-model-options="{ debounce: 250 }" class="bordered" line-numbers="false"></code-editor>
      </div>
      <div class="col-sm-6 outputText" ng-cloak>
        <div class="outputText bordered" ng-bind-html="$ctrl.outputText"></div>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.note.success" ng-show="$ctrl.errorMessage">
      <div class="col-sm-6" ng-cloak>
        <div class="alert alert-warning" role="alert">
          <span ng-bind-html="$ctrl.errorMessage"></span>
        </div>
      </div>
    </div>

  </div>
</div>
