<html ng-app="app">

    <head>
        {% raw %}
        <title>{{$state.current.data.title}} :: {{APP_SETTINGS.name}}</title>
        {% endraw %}

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/" />

        <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/manifest.json">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title">
        <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" media="screen" title="no title">
        <link rel="stylesheet" href="/node_modules/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="/node_modules/codemirror/theme/pastel-on-dark.css">
        <link rel="stylesheet" href="/node_modules/highlightjs/styles/github.css">
        <link rel="stylesheet" href="/node_modules/ng-tags-input/build/ng-tags-input.min.css">
        <link rel="stylesheet" href="/node_modules/ng-tags-input/build/ng-tags-input.bootstrap.min.css">

        <link rel="stylesheet" href="/static/css/theme.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/table.css">

    </head>

    <body>
        {% raw %}
        <growl-notifications></growl-notifications ng-cloak>

        <div ng-repeat="(id, notification) in notifications track by id" ng-cloak>
            <growl-notification ttl="2000">
                {{notification}}
            </growl-notification>
        </div>

        <div class="container-fluid" ui-view></div>

        {% endraw %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 bg-light d-inline">
                    <p class="text-center">
                        <a ng-href="https://github.com/wasilak/notes-manager/tree/{{app_version}}"
                            target="_blank">wasilak/notes-manager
                            v{{app_version}}</a>
                    </p>
                </div>
            </div>
        </div>


        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/node_modules/marked/marked.min.js"></script>
        <script src="/node_modules/highlightjs/highlight.pack.min.js"></script>

        <script src="/node_modules/codemirror/lib/codemirror.js"></script>
        <script src="/node_modules/codemirror/mode/markdown/markdown.js"></script>
        <script src="/node_modules/codemirror/mode/javascript/javascript.js"></script>
        <script src="/node_modules/codemirror/addon/edit/closebrackets.js"></script>
        <script src="/node_modules/codemirror/addon/edit/matchbrackets.js"></script>
        <script src="/node_modules/codemirror/addon/edit/matchtags.js"></script>
        <script src="/node_modules/codemirror/addon/edit/continuelist.js"></script>
        <script src="/node_modules/codemirror/addon/fold/foldcode.js"></script>
        <script src="/node_modules/codemirror/addon/comment/continuecomment.js"></script>

        <script src="/node_modules/angular/angular.min.js"></script>
        <script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="/node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
        <script src="/node_modules/angular-growl-notifications/dist/angular-growl-notifications.min.js"></script>

        <script src="/static/app/app.js"></script>
        <script src="/static/app/constants.js"></script>
        <script src="/static/app/router.js"></script>

        <script src="/static/app/components/list.js"></script>
        <script src="/static/app/components/note.js"></script>
        <script src="/static/app/components/noteRendered.js"></script>
        <script src="/static/app/components/menu.js"></script>
        <script src="/static/app/components/new.js"></script>
        <script src="/static/app/components/intro.js"></script>
        <script src="/static/app/components/cheatsheet.js"></script>

        <script src="/static/app/directives/codemirror.js"></script>

        <script src="/static/app/services/api.js"></script>

        <script src="/node_modules/ng-tags-input/build/ng-tags-input.js"></script>

        <script src="/node_modules/clipboard/dist/clipboard.min.js"></script>
        <script src="/node_modules/ngclipboard/dist/ngclipboard.min.js"></script>

        <script src="/node_modules/dompurify/dist/purify.min.js"></script>

        <script type="text/javascript"src="https://cdn.jsdelivr.net/npm/markdown-it@12.0.4/dist/markdown-it.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/markdownlint@0.23.1/demo/markdownlint-browser.js"></script>
    </body>

</html>
